// Google Font 
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,900&display=swap');



$mainColor :  #FFFFFF;
$fontColor: #2F1C6A;
$secondColor : #673DE6;
$thirdColor : #00B67A;
$fourthColor : #FAFBFF;
$fifthColor : #FC5185;
$lastColor : #FFE8EF;


*{
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
   font-size: 62.5%;
   font-family: 'DM Sans', sans-serif;
   // border: none ;
   outline: none;
   text-decoration: none !important;
}

body{
   scroll-behavior: smooth;
   background: var($mainColor);
}
